@font-face {
    font-family: Yeseva;
    src: url("../fonts/YesevaOne.otf");
}

@font-face {
    font-family: GenBkBasB;
    src: url("../fonts/GenBkBasB.ttf") format('truetype');
}

@font-face {
    font-family: Lato;
    src: url("../fonts/Lato-Regular.ttf") format('truetype');
}

@font-face {
    font-family: OSi;
    src: url("../fonts/OpenSans-Italic.ttf") format('truetype');
}

@font-face {
    font-family: OSr;
    src: url("../fonts/OpenSans-Regular.ttf") format('truetype');
}



* {
    box-sizing: border-box;
}

body {
    background: rgba(242, 171, 171, 0.41);
    background: url(..//img/bg-slice.png);
    width: 100%;
    height: 100%;
    position: relative;
}

h2 {
    font-family: Yeseva;
    font-size: 36px;
}

.wrapper {
    width: 1250px;
    min-height: 200px;
    margin: auto;
}


/* header */

.header {
    height: 750px;
    background: url(..//img/bg1.jpg) no-repeat center 0;
    background-size: cover;
    color: #f3f3f3;
    box-shadow: 0px 100px 100px 0px rgba(0, 0, 0, 0.5) inset;
}

.header h1 {
    font-size: 90px;
    font-family: Yeseva;
    display: block;
    width: 960px;
    margin: auto;
    text-align: center;
    padding: 130px 0px 130px 0px;
    position: relative;
}

.header h1:after {
    content: '';
    width: 230px;
    height: 50px;
    background: red;
    background: url(..//img/decor-main.png) no-repeat 100%;
    position: absolute;
    left: 370px;
    bottom: 40px;
}

.header nav {
    height: 118px;
}

.header ul li {
    display: inline-block;
    float: left;
    font-size: 21px;
    height: 118px;
    margin-left: 50px;
    padding-top: 45px;
    border-top: 5px solid transparent;
    box-sizing: border-box;
    font-family: GenBkBasB;
}

.header ul li:first-child {
    border-top: 5px solid #f3f3f3;
}

.header ul li:hover {
    border-top: 5px solid #f3f3f3;
    cursor: pointer;
}

.header a {
    display: inline-block;
    float: left;
    color: #f3f3f3;
    text-decoration: none;
    font-size: 36px;
    margin: 40px 180px 0px 5px;
    font-family: Yeseva;
}

.nav-button {
    display: block;
    margin: auto;
    text-align: center;
}

.header button {
    border: none;
    font-size: 18px;
    height: 60px;
    width: 227px;
    color: #f3f3f3;
    cursor: pointer;
}

.but-1 {
    background: rgba(0, 0, 0, .7);
}

.but-2 {
    background: rgba(256, 256, 256, .4);
}

.header button.but-2 {
    border: 1px solid white;
}

.header button:hover {
    background: rgba(256, 256, 256, .4);
    border: 1px solid white;
}


/* 2 */

.section-justfood {
    height: 700px;
}

.section-justfood article {
    height: 510px;
    width: 430px;
    margin: 100px 0px 0px 100px;
    text-align: center;
    float: left;
    overflow: hidden;
}

.section-justfood h2 {
    padding: 5px 5px 70px 5px;
    position: relative;
    color: #cc9900;
}

.section-justfood h2:after {
    content: '';
    width: 230px;
    height: 50px;
    background: red;
    background: url(..//img/decor-gold-min.png) no-repeat 100%;
    position: absolute;
    left: 110px;
    top: 50px;
}

.section-justfood p {
    font-size: 16px;
    line-height: 1.3;
    color: #4c4c4c;
    font-family: Lato, sans-serif;
}

.section-justfood img[alt="cook"] {
    margin: 50px 0px 0px 100px;
}

.section-justfood img[alt="plate"] {
    margin: 50px 0px 0px 30px;
}


/* 3 */

.section-ingredient {
    height: 760px;
    background: url(..//img/bg2.jpg) no-repeat center 0;
    background-size: cover;
}

.section-ingredient article {
    background: rgba(0, 0, 0, .7);
    color: white;
    width: 570px;
    height: 557px;
    float: right;
    overflow: hidden;
    margin: 100px 40px 0px 0px;
    text-align: center;
}

.section-ingredient h2 {
    margin: 80px 0px 70px 0px;
    position: relative;
}

.section-ingredient h2:after {
    content: '';
    width: 230px;
    height: 50px;
    background: red;
    background: url(..//img/decor-ingred.png) no-repeat 100%;
    position: absolute;
    left: 180px;
    top: 45px;
}

.section-ingredient p {
    font-size: 16px;
    line-height: 1.3;
    margin: 0px 70px;
    font-family: Lato, sans-serif;
}

.img-ingred {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px rgba(82, 77, 77, 0.69) solid;
    float: left;
}

.img-ingred1 {
    background: url(..//img/f1.jpg) no-repeat -50px -40px;
    margin-left: 33px;
}

.img-ingred2 {
    background: url(..//img/f2.jpg) no-repeat -50px -100px;
    margin-left: 30px;
}

.img-ingred3 {
    background: url(..//img/f3.jpg) no-repeat -50px -10px;
    margin-left: 30px;
}

.section-ingredient figure {
    overflow: hidden;
    margin: 70px 70px;
}


/* 3 */

.section-menu {
    height: 994px;
    padding: 100px 40px;
    background-image: url(/img/bg-white-2.jpg);
}

.section-menu section {
    width: 570px;
    max-height: 840px;
    height: auto;
    float: left;
    text-align: center;
    color: #cc9900;
    font-family: Yeseva;
    overflow-y: auto;
}

.section-menu h2 {
    position: relative;
    margin-bottom: 70px;
}

.section-menu h2:after {
    content: '';
    width: 230px;
    height: 50px;
    background: red;
    background: url(..//img/decor-gold-min.png) no-repeat 100%;
    position: absolute;
    left: 180px;
    top: 45px;
}

.section-menu article {
    margin-bottom: 40px;
}

.section-menu article:last-child {
    margin-bottom: 40px;
}

.section-menu li {
    display: block;
    margin: 40px 0px 0px 70px;
    text-align: left;
    width: 430px;
}

.section-menu li h3 {
    float: left;
    font-size: 21px;
}

.section-menu li span {
    float: right;
    font-size: 21px;
}

.section-menu li p {
    color: #4c4c4c;
    font-family: Lato, sans-serif;
}

.special {
    outline: 1px solid #cc9900;
    outline-offset: 10px;
    position: relative;
}

.special:after {
    content: 'Special';
    width: 69px;
    height: 20px;
    background: #cc9900;
    position: absolute;
    right: -11px;
    top: -30px;
    font-size: 14px;
    font-family: Lato, sans-serif;
    color: white;
    text-align: center;
    padding-top: 2px;
    box-sizing: border-box;
}

.section-menu .wrap {
    overflow: hidden;
    border-bottom: 1px solid #cc9900;
    ;
    padding-bottom: 10px;
}

.section-menu section:first-child {
    margin-right: 60px;
}


/* 4 */

.section-guest {
    height: 760px;
    background: url(..//img/bg3.jpg) no-repeat center 0;
    background-size: cover;
}

.section-guest article {
    background: rgba(0, 0, 0, .7);
    color: white;
    width: 770px;
    height: 557px;
    text-align: center;
    margin: auto;
    top: 100px;
    position: relative;
    overflow: hidden;
    padding: 0px 70px;
}

.section-guest h2 {
    margin: 85px 0px 80px 0px;
    position: relative;
}

.section-guest h2:after {
    content: '';
    width: 230px;
    height: 50px;
    background: red;
    background: url(..//img/decor-ingred.png) no-repeat 100%;
    position: absolute;
    left: 200px;
    top: 45px;
}

.section-guest p {
    font-family: GenBkBasB;
    font-size: 25px;
    line-height: 1.5;
    color: #dde0df;
    position: relative;
}

.section-guest p:first-child:after {
    content: '';
    width: 230px;
    height: 50px;
    background: red;
    background: url(..//img/1.png) no-repeat 100%;
    position: absolute;
    left: -240px;
    top: -20px;
}

.section-guest p:last-child {
    font-size: 18px;
    font-family: Lato, sans-serif;
    margin-top: 50px;
}


/* 5 */

.section-order {
    height: 710px;
}

.section-order section {

    height: 507px;
    width: 1170px;
    margin: auto;
    position: relative;
    top: 100px;
}

.section-order img {
    float: left;
    margin: 0px 30px 0px 0px;
}

.section-order article {
    width: 430px;
    height: 507px;

    float: right;
    margin: 0px 110px 0px 0px;
    overflow-y: auto;
    text-align: center;
    position: relative;


}

.section-order h2 {
    position: relative;
    color: #cc9900;
    margin-bottom: 70px;
}

.section-order h2:after {
    content: '';
    width: 230px;
    height: 50px;
    background: url(..//img/decor-gold-min.png) no-repeat 100%;
    position: absolute;
    left: 110px;
    top: 40px;
}

.section-order p {
    color: #4c4c4c;
    font-size: 16px;
    font-family: Lato, sans-serif;
    line-height: 1.5;
    margin-bottom: 20px;
}

.form {
    width: 200px;
    height: 36px;
    border: 1px #c8c6c6 solid;
    position: relative;
    padding: 5px 5px 5px 10px;
    font-size: 16px;
    color: #7c7c7c;
    font-family: OSi;
    position: relative;
}

.section-order form p {
    float: left;
    text-align: left;
    color: #cc9900;
}

.section-order form {
    margin-top: 30px;
}

.section-order form p:nth-of-type(even) {
    margin-left: 30px;
}

.section-order input[type="submit"] {

    display: block;
    position: absolute;
    bottom: 0px;
    right: 115px;
    width: 200px;
    height: 36px;
    background: #cc9900;
    border: none;
    color: white;
    font-size: 16px;
    font-family: OSr, sans-serif;
}

.section-order input:after {
    content: '';
    width: 30px;
    height: 20px;
    background: red;
    background: url(/img/srite.png);
    background-position: 110px 16px;


    left: 300px;
    top: 45px;
}

.form-wrapper {
    height: 60px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
}


footer {
    width: 320px;
    min-height: 320px;
    background: #191919;
    margin: auto;
    width: 100%;
    position: relative;
    bottom: 0px;
    overflow: hidden;
}

.footer-section {
    min-height: 218px;
    width: 370px;
    background: red;
    float: left;
    margin: 52px 15px;
    padding: 10px;
    text-align: center;
}

footer .wrapper { padding: 0px 25px;}

